<h1>Registering</h1>
<form action="/" method="POST">
	<input type="email" name="email" placeholder="Email" />
	<input type="password" name="password" placeholder="Password">
	<input type="submit" value="Send">
</form>