<% layout("layout") -%>

<h1>Registering</h1>

<%- _form_start(form) %>
	<input type="email" name="email" placeholder="Email" />
	<input type="password" name="password" placeholder="Password">
	<input type="submit" value="Send">
<%- _form_end(form) %>