<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Test app</title>
	</head>
	<body>
		<%- body %>
	</body>
</html>

<% /*
	Here, the view uses `ejs-Locals` module in order to manage view inheritance.
	The </%- body %/> tag indicates where children view should place their content.
*/ %>